.app {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.task-form input, .task-form select {
  margin: 5px;
}

.task-list {
  margin-top: 20px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #1307f1;
  border-radius: 4px;
}

.task-item.completed {
  text-decoration: line-through;
  color: gray;
}